<nav aria-label='breadcrumb'>
  <ol class='breadcrumb'>
    {{!-- Go back to event list --}}
    <li class='breadcrumb-item'><a href='/events/list' >Events</a></li>
    <li class='breadcrumb-item active' aria-current='page'>{{event.name}}</li>
  </ol>
</nav>

{{! Display event name as title. Display edit and delete buttons besides }}
<div class='row mt-4'>
  <div class='col-10'>
    <h1>{{event.name}}</h1>
  </div>
  <div class='col-2'>
    <a class='btn btn-primary' href='/events/{{event._id}}'>
      <i class='bi bi-pencil'></i>
      Edit
    </a>
    <a class='btn btn-danger' href='/events/delete/{{event._id}}' onclick="return confirm('Are you sure to delete this record ?');">
      <i class='bi bi-trash'></i>
      Delete
    </a>
  </div>
</div>

{{! Display desciption content }}
<div class='row mt-4'>
  <div class='col-12'>
    <p>{{event.description}}</p>
  </div>
</div>

<ul class='nav nav-tabs' id='myTab' role='tablist'>
  <li class='nav-item' role='presentation'>
    <button
      class='nav-link active'
      id='details-tab'
      data-bs-toggle='tab'
      data-bs-target='#details'
      type='button'
      role='tab'
      aria-controls='details'
      aria-selected='true'
    >Details</button>
  </li>
  <li class='nav-item' role='presentation'>
  <li class='nav-item' role='presentation'>
    <button class='nav-link' id='guests-tab' data-bs-toggle='tab' data-bs-target='#guests' type='button' role='tab' aria-controls='guests' aria-selected='false'>Guests</button>
  </li>
</ul>
<div class='tab-content' id='myTabContent'>
  <div class='tab-pane fade show active' id='details' role='tabpanel' aria-labelledby='details-tab'>
    {{! Display event details }}
    <div class='row mt-4'>
      <div class='col-12'>
        <h4>Your event in details</h4>
        <table class='table table-striped-columns table-bordered table-hover p-4'>
          <tbody class='table-group-divider'>
            <tr>
              <td>Max Guests</td>
              <td>{{event.maxGuests}}</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>{{formatDate event.date 'DD/MM/YYYY'}}</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>{{event.address}}</td>
            </tr>
            <tr>
              <td>Start Time</td>
              <td>{{event.startTime}}</td>
            </tr>
            <tr>
              <td>End Time</td>
              <td>{{event.endTime}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div></div>
  <div class='tab-pane fade' id='meals' role='tabpanel' aria-labelledby='meals-tab'>

  <div class='tab-pane fade' id='guests' role='tabpanel' aria-labelledby='guests-tab'>
    {{! Guest list }}
    <div class='row mt-4'>
      <div class='col-12'>

        <div class='row mb-4'>
          <div class='col-11'>
            <h4>RSVP</h4>
          </div>
          <div class='col-1'>
            <a class='btn btn-success' href='/guests/{{event._id}}'>
              Manage
            </a>
          </div>
        </div>

        <table class='table table-striped-columns table-bordered table-hover p-4'>
          <tbody class='table-group-divider'>
            <tr>
              <td>Invited</td>
              <td>{{totalGuests}}</td>
            </tr>
            <tr>
              <td>Coming</td>
              <td>{{confirmedGuests}}</td>
            </tr>
            <tr>
              <td>Refused</td>
              <td>{{refusedGuests}}</td>
            </tr>
            <tr>
              <td>Pending</td>
              <td>{{pendingGuests}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>
