<nav aria-label='breadcrumb'>
  <ol class='breadcrumb'>
    <li class='breadcrumb-item active' aria-current='page'>Events</li>
  </ol>
</nav>

<div class='row mt-4'>
  <div class='col-10'>
    <h1>Events</h1>
  </div>
  <div class='col-2'>
    <a class='btn btn-primary' href='/events'>
      <i class='bi bi-plus'></i>
      Add Event
    </a>
  </div>
</div>

<table class='table table-striped-columns table-bordered table-hover p-4'>
  <thead>
    <tr class='pe-auto'>
      <th scope='col'>Name</th>
      <th scope='col'>Max guests</th>
      <th scope='col'>Date</th>
      <th scope='col'>Address</th>
      <th scope='col'>Start Time</th>
      <th scope='col'>End Time</th>
      {{! <th scope='col'></th> }}
    </tr>
  </thead>
  <tbody class='table-group-divider'>
    {{#each events}}
      <tr onclick="window.location='/events/details/{{this._id}}';">
        <td>{{this.name}}</td>
        <td>{{this.maxGuests}}</td>
        {{! Formated date DD/MM/YYYY }}
        <td>{{formatDate this.date 'DD/MM/YYYY'}}</td>
        <td>{{this.address}}</td>
        <td>{{this.startTime}}</td>
        <td>{{this.endTime}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>