<nav aria-label='breadcrumb'>
  <ol class='breadcrumb'>
    <li class='breadcrumb-item'><a href='javascript:location.href="/events/list"'>Events</a></li>
    <li class='breadcrumb-item'><a href='javascript:history.back()'>{{event.name}}</a></li>
    <li class='breadcrumb-item active' aria-current='page'>Guests</li>
  </ol>
</nav>

<div class='row mt-4'>
  <div class='col-10'>
    <h1>Guests</h1>
  </div>
  <div class='col-2'>
    <a class='btn btn-primary' href='/guests/{{eventId}}/invite'>
      <i class='bi bi-plus'></i>
      Invite guest
    </a>
  </div>
</div>

<table class='table table-striped-columns table-bordered table-hover p-4'>
  <thead>
    <tr>
      <th scope='col'>Full Name</th>
      <th scope='col'>Email</th>
      <th scope='col'>Mobile</th>
      <th scope='col'>City</th>
      <th scope='col'>RSVP</th>
      <th scope='col'></th>
    </tr>
  </thead>
  <tbody class='table-group-divider'>
    {{#each list}}
      <tr>
        <td>{{this.fullName}}</td>
        <td>{{this.email}}</td>
        <td>{{this.mobile}}</td>
        <td>{{this.city}}</td>
        <td>{{this.rsvp}}</td>
        <td>
          <a href='/guests/{{this.event}}/details/{{this._id}}'><i class='bi-pencil text-success m-1'></i></a>
          <a href='/guests/{{this.event}}/delete/{{this._id}}' onclick="return confirm('Are you sure to delete this record ?');"><i class='bi-trash text-danger m-1'></i></a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>